# Google
GOOGLE_CREDENTIALS_FILE=config/google_credentials.json

CALENDAR_TOKEN_FILE=config/calendar_token.json
GMAIL_TOKEN_FILE=config/gmail_token.json
SHEETS_TOKEN_FILE=config/sheet_token.json

# Gmail
GMAIL_SENDER=ejemplo@gmail.com
GMAIL_RECIPIENT=ejemplo@gmail.com

SPREADSHEET_ID=xxxxxxxx

# Telegram
TELEGRAM_BOT_TOKEN=xxxxxxxx
TELEGRAM_CHAT_ID=xxxxxxxx